/* Reset CSS et définition des polices */

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

header, main{
    margin: 2%;
}

body{
    font-size: medium;
}


/* Travail sur le header  */

.navigation{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation img{
    height: 100%;
}

.logo img{
    height: 100%;
}

.navigation ul{
    width: auto;
    gap: 30%;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.navigation a{
    text-decoration: none;
}

/* Recherche de ville  */

#searchCity{
    height: 8rem;
    padding: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#searchCity h1,p{
    margin: 0%;
}

#searchCityField{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    width: 33rem;
    overflow: hidden;
    border-radius: 1rem;
    border: #F2F2F2;
    border-style:solid;
}

#searchCityField i{
    height: 100%;
    width: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

#searchCityField input{
    height: 100%;
    padding-left: 1rem;
    width: 20rem;
    font-size: x-large;
    font-weight: bold;
    border: #F2F2F2;
}

#searchButton{
    height: 100%;
    width: 10rem;
    background-color: #0065FC;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Travail sur les filtres  */

#filter{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.filterButton{
    height: 3rem;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: #F2F2F2;
    border-style:solid;
    gap: 1rem;
    padding: 0rem 1rem 0rem 0rem;
    overflow: visible;
}

#filter i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: #DEEBFF;
    border: #DEEBFF;
    border-style:solid;
    color: #0065FC;
}

.filterButton:hover {
    background-color: #0065FC;
    }

/* Bannière d'information  */

#informationBanner{
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#informationBanner i{
    height: 100%;
    width: 2rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#0065FC;
}

/* Guest : travail sur les hébergements
   et les deux sections en dessous guest et most popular guest
*/

.conteneurGuest{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    gap: 2%;
    display:flex;
    justify-content: row;
}

.guest{
    box-sizing: border-box;
    width: 68%;
    height: 100%;
    padding: 2% 2% 2% 2%;
    gap:2%;
    border-radius: 2rem;
    background-color :#F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mostPopularGuest{
    box-sizing: border-box;
    width: 30%;
    max-height: 100%;
    padding: 2% 2% 2% 2%;
    border-radius: 2rem;
    background-color: #F2F2F2;;
}

.conteneurGuest h1{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5%;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.conteneurGuest p{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5%;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

/* Hébergement à marseille : dans une ville en particulier  */

.cityGuest_Box{
    box-sizing: border-box;
    width: 100%;
    height: 86%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.cityGuest_Card {
    display: flex;
    flex-direction:  column;
    background-color: white;
    width: 30%;
    height: 45%;
    border-radius: 20px;
}


.cardImage{
    padding: 5px;
    height: 70%;
}

.cardImage img{
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.cardText{
    height: 30%;
    align-items: flex-end;
}

/* Hébergements les plus populaires */




/* Activities */


#anchorActivities{
    display:flex;
    flex-direction: column;
    height: 500px;
    width: auto;
}

#anchorActivities h1{
    font-size: 1.5em;
}

.conteneurActivities{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    flex-wrap: nowrap;
}



.ActivitiesCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 90%;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.267);
    overflow: hidden;
}

.ActivitiesImage{ /* div qui contient l'image*/
    height: 95%; /* 95% de l'espace, le texte en dessous en prend 5*/
    overflow: hidden; /* l'image ne sort pas de la div*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ActivitiesCard p{
    display: flex;
    align-items: center;
    height: 5%;
    padding-left: 10%;

}


/* Footer */

#footer{
    display:flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 100%;
    height: 15rem;
}

.footerBox{
    width: 33.33%;
    display: flex;
    padding: 3rem 0rem 0rem 3rem;
}


#footer ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

#footer h3,p{
    margin: 0;
    padding: 0;
}

/* Footer responsive */

/* Ici un seul breakpoint en dessous
de la taille des tablettes classiques 768px */

@media screen and (max-width: 767px) {
    #footer{
        flex-direction: column;
        flex-wrap: wrap;
        height: 30rem;
        width: 100%;
    }
    .footerBox{
        width: 90%;
    }
}
