/* 992 px pour les écrans d’ordinateurs
    768 px pour les tablettes
    tout ce qui est en dessous de 768 pour les téléphones portables.
*/



/* Reset CSS et définition des polices */


/* box-sizing est appliqué à tous les éléments
    Border-box : les largeur et hauteur spécifiées sont celles de l'élément dans son ensemble,
    en conséquence les dimensions du padding ou des bordures viennent diminuer les dimensions du contenu.
*/

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

body{
    font-size: medium;
}

main{
    padding-left: 3rem;
    padding-right: 3rem;
}

@media screen and (max-width: 991px){
    main{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 767px){
    main{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Header  */

header{
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 3rem;
}

nav ul{
    width: auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav li{
    padding-left: 3rem;
}

nav a{
    text-decoration: none;
    color: #0065FC;
}

nav a:hover{
    font-weight: bold;
    border-top: solid #0065FC ;
}

/* Header responsive */

/* On définit 1 breakpoints
   un en dessous de 850px
*/

@media screen and (max-width: 991px){
    dddheader{
        width: 100%;
        height: auto;
        padding: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}



/*  Recherche de ville = searchCity */

#searchCitySection{
    width: 100%;
    height: auto;
    padding: 0;
    margin:0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#searchCitySection h1,p{
    margin: 0;
    padding: 0;
}

#searchCityField{
    width: 30rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 1rem;
    border: #F2F2F2;
    border-style:solid;
}

#searchCityField i{
    width: 10%;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

#searchCityField input{
    width: 60%;
    height: 100%;
    padding-left: 1rem;
    font-size: large;
    font-weight: bold;
    border: #F2F2F2;
}

#researchButton{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: white;
    border: #F2F2F2;
    background-color: #0065FC;
}

#researchIcon{
    display: none;
}


/*  Recherche de ville = searchCity RESPONSIVE
    On définit 1 breakpoints
    un en dessous de 850px
*/

@media screen and (max-width: 767px){
    #researchIcon{
        display:contents;
    }
    
    #researchButton{
        display: none;
    }

    #searchCityField{
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        border-radius: 1rem;
        border: #F2F2F2;
        border-style:solid;
    }
    
    #searchCityField i{
        width: 4rem;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
    }
    
    #searchCityField input{
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        font-size: large;
        font-weight: bold;
        border: #F2F2F2;
    }

    #researchIcon i{
        background-color: #0065FC;
        color: white;
        width: 4rem;
        border-radius: 1rem;
    }
}



/* Filter : filtres  */

#filterSection{
    width: 100%;
    height: auto;
    padding: 2rem 0rem 0rem 0rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#filterTitle{
    padding-right: 1rem;
}

#filter{
    width: 100%;
    height: 100%;
    gap:1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filterButton{
    height: 3rem;
    width: auto;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: #F2F2F2;
    border-style:solid;
    border-radius: 2rem;
    gap: 1rem;
}

#filterSection i{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border: #DEEBFF;
    border-style:solid;
    border-radius: 1.5rem;
    color: #0065FC;
}

.filterButton:hover {
    background-color: #0065FC;
    }

/* Filtres : RESPONSIVE
    A breakpoint à 1024px
    Un autre à 600px
 */

 @media screen and (max-width: 991px){
    #filterSection{
        width: 100%;
        height: auto;
        padding: 2rem 0rem 0rem 0rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #filter{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap:1rem;
    }
}

@media screen and (max-width: 767px){
    #filterSection{
        width: 100%;
        height: auto;
        padding: 2rem 0rem 0rem 0rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #filter{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap:1rem;
    }
}


/* Bannière d'information  */

#informationBannerSection{
    width: 100%;
    height: auto;
    padding: 2rem 0rem 2rem 0rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#informationBannerSection i{
    height: 100%;
    width: 3rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color:#0065FC;
}

/* Guest : travail sur les hébergements
   et les deux sections en dessous guest et most popular guest
*/

#anchorGuest{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.conteneurGuest{
    width: 100%;
    height: 100%;
    gap: 2%;
    display:flex;
    justify-content: row;
}

.guest{
    box-sizing: border-box;
    width: 68%;
    height: 100%;
    padding: 2% 2% 2% 2%;
    gap:2%;
    border-radius: 2rem;
    background-color :#F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mostPopularGuest{
    box-sizing: border-box;
    width: 30%;
    max-height: 100%;
    padding: 2% 2% 2% 2%;
    border-radius: 2rem;
    background-color: #F2F2F2;;
}

.conteneurGuest h1{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5%;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.conteneurGuest p{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5%;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}


#anchorActivities{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.cityGuest_Box{
    box-sizing: border-box;
    width: 100%;
    height: 86%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

.cityGuest_Card {
    display: flex;
    flex-direction:  column;
    background-color: white;
    width: 30%;
    height: 45%;
    border-radius: 20px;
}


.cardImage{
    padding: 5px;
    height: 70%;
}

.cardImage img{
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.cardText{
    height: 30%;
    align-items: flex-end;
}

/* Hébergements les plus populaires */



/* Activities */


#anchorActivities{
    width: 100%;
    height: auto;
    padding: 3rem 0 3rem 0;
    margin: 0;
    display:flex;
    flex-direction: column;

}

.conteneurActivities{
    width: 100%;
    height: 30rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.activitiesCard_1_4{
    width: calc(25% - 1rem);
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.267);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-decoration: none;
}

.conteneur_2_3_5_6{
    width: calc(25% - 1rem);
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activitiesCard_2_3_5_6{
    width: 100%;
    height: 50%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.267);
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    overflow: hidden;
    text-decoration: none;
}

.activitiesImage{
    width: 100%;
    height: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteneurActivities img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteneurActivities p{
    width: 100%;
    height: 5%;
    padding: 1.5rem 1rem 1.5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:black;
}

/* Activités responsives */

@media screen and (max-width: 991px){
    .conteneurActivities{
        width: 100%;
        height: 60rem;
        gap: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .activitiesCard_1_4{
        width: calc(50% - 1rem);
        height: calc(50% - 1rem);
        border-radius: 1rem;
        box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.267);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        text-decoration: none;
    }
    .conteneur_2_3_5_6{
        width: calc(50% - 1rem);
        height: calc(50% - 1rem);
        gap: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px){
    .conteneurActivities{
        width: 100%;
        height: 100rem;
        gap: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .activitiesCard_1_4{
        width: 100%;
        height: 16.67%;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.267);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        text-decoration: none;
    }
    .conteneur_2_3_5_6{
        width: 100%;
        height: 33.33%;
        gap: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activitiesCard_2_3_5_6{
        width: 100%;
        height: 50%;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.267);
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
        overflow: hidden;
        text-decoration: none;
    }

}

/* Footer */

footer{
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    display:flex;
    flex-direction: row;
    background-color: #F2F2F2;
}

.footerBox{
    width: 33.33%;
    padding: 3rem 0rem 0rem 3rem;
}


footer ul{
    margin: 0;
    padding: 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
}

footer h3,p{
    margin: 0;
    padding: 0;
}

/* Footer responsive */

/* On définit 2 breakpoints
   un en dessous de 850px
   un en dessous de 500px
*/

@media screen and (max-width: 991px) {
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }
    .footerBox{
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }
    .footerBox{
        width: 100%;
    }
}

