header{
    display:flex;
    justify-content:space-between;
}

.navigation{
    display:flex;
    text-align: justify;
}

li {
    list-style: none;
}

.conteneur{
    width: 100%;
    background-color: grey;
    display: flex;
    margin: 1em;
}


.cityGuest {
  background-color: grey;
  width: 70%;
  margin-right: 20px;
}
.popularGuest {
  background-color: purple;
  width: 30%;
}

.cityGuest_Card{
    background-color: white;
    height: 300px;
    width: 100%;
}

.cityGuest_Card {
	background-color: white;
	height: 150px;
	width: 30%;
	margin: 10px;
	border-radius: 10px;
}
.cardImage{
    background-color: red;
    height: 60%;
    border-radius: 10px 10px 0 0;
}